/* Simple page styling */
body {
    font-family: Arial, sans-serif;
    
}

/* Card spacing  and background colour*/
.card {
    border-radius: 10px;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 19%, rgba(148, 187, 233, 1) 75%);
}

/* Error messages below each field */
.error-message {
    min-height: 16px;             /* keeps layout from jumping */
}

/* When input is invalid */
.is-invalid {
    border-color: #dc3545;
}

/* When input is valid */
.is-valid {
    border-color: #28a745;
}
